@inject ICategoryService CategoryService
@inject ISubCategoryService SubCategoryService
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark navbar-toggler-wrapper">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-nav">
        <div class="nav-item px-2">
            @* <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink> *@
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="iconify" data-icon="bx:category"></span> All Categories
                </a>

                <div class="dropdown-menu" style="background-color: #404040;" aria-labelledby="dropdownMenuLink">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                    @foreach (var category in CategoryService.Categories)
                    {
                        <NavLink style="font-size: 14px;" class="nav-link" href="@category.Url">
                            @category.Name
                        </NavLink>
                    }
                </div>
            </div>
        </div>
        @foreach (var category in CategoryService.Categories)
        {
            <div class="nav-item px-2">
                <div class="btn-group">
                    <NavLink style="font-size: 14px;" class="btn" href="@category.Url">@category.Name</NavLink>
                    <a type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only"></span>
                    </a>
                    <div class="dropdown-menu" style="background-color: #404040;" aria-labelledby="dropdownMenu">
                        @if(category.SubCategories != null){
                            foreach(var item in category.SubCategories){
                                <a class="dropdown-item" href="@category.Url/@item.Url">@item.Name</a>
                            }
                        }
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        @* await CategoryService.GetCategories(); *@
        await CategoryService.GetSubCategoriesWithCategory();
        @* await SubCategoryService.GetSubCategories(); *@
        CategoryService.OnChange += StateHasChanged;
        SubCategoryService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CategoryService.OnChange -= StateHasChanged;
        SubCategoryService.OnChange -= StateHasChanged;
    }
}
